html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

.content {
  min-height: calc(100vh - 96px - 48px);
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.not-logged {
  margin-top: 96px;
  & a {
    text-decoration: none;
    color: $color-gray-4;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
