.marg-t-xxl {
  margin-top: 9.6rem;
}
.marg-t-xl {
  margin-top: 6.4rem;
}
.marg-t-l {
  margin-top: 4.8rem;
}
.marg-t-m {
  margin-top: 3.2rem;
}
.marg-t-s {
  margin-top: 2.4rem;
}
.marg-t-xs {
  margin-top: 1.6rem;
}
.marg-t-xxs {
  margin-top: 1.2rem;
}
.marg-t-zero {
  margin-top: 0;
}

.marg-b-xxl {
  margin-bottom: 9.6rem;
}
.marg-b-xl {
  margin-bottom: 6.4rem;
}
.marg-b-l {
  margin-bottom: 4.8rem;
}
.marg-b-m {
  margin-bottom: 3.2rem;
}
.marg-b-s {
  margin-bottom: 2.4rem;
}
.marg-b-xs {
  margin-bottom: 1.6rem;
}
.marg-b-xxs {
  margin-bottom: 1.2rem;
}
.marg-b-zero {
  margin-bottom: 0;
}

.marg-zero {
  margin: 0;
}
