.marg-t-xxl {
  margin-top: 96px;
}
.marg-t-xl {
  margin-top: 64px;
}
.marg-t-l {
  margin-top: 48px;
}
.marg-t-m {
  margin-top: 32px;
}
.marg-t-s {
  margin-top: 24px;
}
.marg-t-xs {
  margin-top: 16px;
}
.marg-t-xxs {
  margin-top: 12px;
}
.marg-t-zero {
  margin-top: 0px;
}

.marg-b-xxl {
  margin-bottom: 96px;
}
.marg-b-xl {
  margin-bottom: 64px;
}
.marg-b-l {
  margin-bottom: 48px;
}
.marg-b-m {
  margin-bottom: 32px;
}
.marg-b-s {
  margin-bottom: 24px;
}
.marg-b-xs {
  margin-bottom: 16px;
}
.marg-b-xxs {
  margin-bottom: 12px;
}
.marg-b-zero {
  margin-bottom: 0px;
}

.marg-zero {
  margin: 0px;
}
