//colors

$color-white: rgb(255, 255, 255);

$color-gray-1: rgba(229, 229, 229, 1);
$color-gray-2: rgba(196, 196, 196, 1);
$color-gray-3: rgba(146, 146, 146, 1);
$color-gray-4: rgba(120, 120, 120, 1);
$color-gray-5: rgba(68, 68, 68, 1);
$color-gray-6: rgba(31, 31, 31, 1);

$color-tomato: rgb(255, 99, 71);

//fonts
$font-default: "Josefin Sans", sans-serif;
