.mobile {
  display: block;
}

.desktop {
  display: none;
}

.profile.container {
  margin-top: 96px;
  color: rgba(31, 31, 31, 1);
}

.user.info {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
}

.user.info img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 12px;
}

.user.info.name {
  font-size: 16px;
  margin: 0;
}
.user.info.date {
  margin: 12px 0 0 0;
  font-size: 12px;
  color: rgba(120, 120, 120, 1);
}
.user.info.date span {
  font-style: italic;
}

.user-releases {
  margin: 32px 0 0 12px;
}
.user-releases.header {
  font-size: 16px;
  margin: 0 0 24px 0;
}

.releases-statistics {
  display: grid;
  grid-template-columns: 128px 24px;
}
.releases-statistics a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(31, 31, 31, 1);
  margin-bottom: 16px;
}
.releases-statistics a:hover {
  color: rgba(120, 120, 120, 1);
}
.statistics-number {
  text-align: end;
}

.addedBy.container {
  font-size: 16px;
  margin-left: 12px;
}

.activity-container {
  margin: 32px 12px 48px 12px;
}
.activity-header {
  font-size: 16px;
  margin: 0 0 24px 0;
}

.activity-item {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.activity-img {
  width: 64px;
  height: 64px;
}

.activity-info {
  font-size: 14px;
  margin: 0 0 8px 8px;
}

.activity-date {
  font-size: 12px;
  margin: 0 0 0 8px;
  color: rgba(120, 120, 120, 1);
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .profile.container {
    margin-top: 52px;
  }
  .profile-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 52px;
  }
  .activity-container {
    margin: 0px 12px 48px 64px;
  }
  .profile-cover {
    background-image: url("../../img/cover.png");
    width: 100vw;
    height: 256px;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .user-photo {
    position: absolute;
    top: 158px;
    left: 64px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}
