.album-page {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px $color-gray-1;
  border-radius: 1.5rem;
  width: 31.9rem;
  padding: 1.2rem 1.2rem 4.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include respond(tab-land) {
  .album-page {
    width: 38.4rem;
  }
}
