.album-card {
  display: flex;
  flex-direction: row;

  &__img {
    height: 14.5rem;
    width: 14.5rem;
    object-fit: cover;
  }

  &__info {
    margin-left: 2.4rem;
    max-width: 15rem;

    &__header {
      font-size: 1.4rem;
      & a {
        text-decoration: none;
        color: $color-gray-6;
      }
    }

    &__paragraph {
      font-size: 1.2rem;
      & a {
        text-decoration: none;
        color: $color-gray-6;
      }
    }

    &__span {
      color: $color-gray-2;
    }
  }
}
