.btn {
  height: 32px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 15px;
  font-family: $font-default;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-black {
  background-color: $color-gray-6;
  color: $color-white;
  &:hover {
    background-color: $color-gray-5;
  }

  &--reset {
    margin-bottom: 24px;
  }
  &--remove {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &--upload {
    height: 32px;
    padding: 8px 16px 8px 16px;
  }
  &--preview {
    margin-top: 24px;
  }
  &--modal {
    margin: 0px 4px 1em 4px;
  }
  &--search {
    width: 75px;
  }
}

.btn-white {
  background-color: $color-white;
  color: $color-gray-6;
  &:hover {
    background-color: $color-gray-1;
  }
}

.btn-social {
  height: 24px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;
  color: $color-white;
  font-weight: 400;

  &--facebook {
    margin-top: 24px;
    background-color: hsl(220, 46%, 48%);
    &:hover {
      background-color: hsl(220, 46%, 58%);
    }
  }

  &--google {
    margin-top: 12px;
    background-color: hsl(0, 60%, 53%);
    &:hover {
      background-color: hsl(0, 60%, 63%);
    }
  }
}

.btn-border {
  width: 96px;
  padding: 8px;
  background-color: $color-white;
  border: 1px solid $color-gray-2;
  border-radius: 15px;
  color: $color-gray-5;
  margin: 12px 0px 0px 8px;
  &:hover {
    background-color: $color-gray-1;
  }

  &:focus {
    outline: none;
  }

  &--album {
    margin: 0;
    width: 210px;

    &:first-of-type {
      margin-top: 32px;
      width: 240px;
    }

    &:last-of-type {
      margin-top: 12px;
    }
  }
}

.btn-submit-file {
  background-color: $color-gray-1;
  border-radius: 4px;
  color: $color-gray-6;
  min-width: 319px;
  margin-top: 8px;
  font-size: 12px;

  &:hover {
    background-color: $color-gray-2;
  }
}
