.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 13.2rem);
  grid-column-gap: 5rem;
}

.grid-album {
  &__img {
    width: 13.2rem;
    height: 13.2rem;
    object-fit: cover;
  }

  &__link {
    text-decoration: none;
    color: $color-gray-6;
  }

  &__paragraph {
    margin: 0.8rem 0 0 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 13.2rem);
  }
}
