.hero-container {
  text-align: center;

  &__header {
    margin: 0 0 1.2rem 0;
    font-size: 2.4rem;

    &--h5 {
      font-size: 1.2rem;
    }
  }
}

.slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__hero {
    width: 25.6rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  &__navigation {
    height: 6.4rem;
    align-self: center;
  }

  &__img-container {
    position: relative;
    text-align: right;
    color: $color-gray-6;

    &--side {
      display: none;
    }
  }

  &__img-text {
    position: absolute;
    bottom: 0.8rem;
    right: 2.4rem;
    display: block;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .slideshow {
    margin-bottom: 3.2rem;

    &__hero {
      width: 19.2rem;
    }

    &__img-container {
      align-self: center;

      &--center img {
        width: 36.4rem;
        height: 36.4rem;
      }

      &--side {
        display: flex;
      }
    }
  }
}
