.hero-container {
  text-align: center;

  &__header {
    margin: 0 0 12px 0;
    font-size: 24px;

    &--h5 {
      font-size: 12px;
    }
  }
}

.slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__hero {
    width: 256px;
    margin-left: 16px;
    margin-right: 16px;
  }

  &__navigation {
    height: 64px;
    align-self: center;
  }

  &__img-container {
    position: relative;
    text-align: right;
    color: $color-gray-6;

    &--side {
      display: none;
    }
  }

  &__img-text {
    position: absolute;
    bottom: 8px;
    right: 24px;
    display: block;
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .slideshow {
    margin-bottom: 32px;

    &__hero {
      width: 192px;
    }

    &__img-container {
      align-self: center;

      &--center img {
        width: 364px;
        height: 364px;
      }

      &--side {
        display: flex;
      }
    }
  }
}
