.modal {
  background-color: rgba($color-gray-6, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;

  &:empty {
    display: none;
  }

  &__div {
    background-color: $color-white;
    width: 80%;
    max-width: 37.5rem;
    padding: 1.6rem;
    border-radius: 0.5rem;
    text-align: center;
  }
}
