.navbar-profile {
  margin: 9.6rem 1.6rem 2.4rem 1.6rem;
  color: $color-gray-6;

  &:link {
    text-decoration: none;
    margin: 0;
  }

  &__link {
    margin-right: 3.2rem;
    position: relative;
    line-height: 1;
    text-decoration: none;
    font-size: 1.6rem;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 0.2rem;
      background-color: $color-gray-6;
      content: "";
      transition: width 0.3s ease-out;
    }

    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }
}

@include respond(tab-land) {
  .navbar-profile-desktop {
    margin: 0;
    padding-left: 6.4rem;
    padding-top: 1.6rem;
    height: 3.2rem;
    background-color: $color-gray-6;
    margin-bottom: 3.2rem;
  }
  .navbar-profile__link {
    text-decoration: none;
    font-size: 1.6rem;

    &:after {
      background-color: $color-white;
    }
  }
}
