.recentlyAdded {
  background-color: $color-gray-6;
  color: $color-white;
  padding: 0 1.6rem 4.8rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin: 0 0 1.2rem 1.2rem;
    font-size: 1.8rem;
    align-self: start;
  }
}

.grid-album__link--recentlyAdded {
  color: $color-gray-1;
}

.showmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__paragraph {
    margin: 2.4rem 0 0.8rem 0;
    color: $color-gray-1;
    font-size: 1.6rem;
  }
  &__img {
    margin: auto;
  }
}
