.upload-header {
  margin: 0px 0px 12px 16px;
  color: $color-gray-6;
  font-size: 18px;
}

.upload-container {
  width: 319px;
  padding: 12px 12px 48px 12px;
  border: solid 1px $color-gray-1;
  border-radius: 4px;
  margin: 0 auto 48px auto;
  display: block;
  &--preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.file-form {
  width: 319px;
  height: 117px;
  background-color: $color-white;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    border: none;
    height: 16px;
    min-width: 294px;
    background-color: $color-white;
    padding: 8px 12px 8px 0px;
    font-size: 12px;
    border-radius: 4px;
    font-family: $font-default;
  }
  &__paragraph {
    font-size: 12px;
    margin: 8px 0 0 0;
  }
}

.album-form {
  display: flex;
  flex-direction: column;
  height: 860px;
  background-color: $color-white;
  margin: auto;
  &__container {
    border: none;
    &--format,
    &--year,
    &--contries,
    &--genres,
    &--myCollection {
      min-width: 318px;
    }
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    height: 16px;
    min-width: 294px;
    background-color: $color-gray-1;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    border-radius: 4px;
    &--year {
      min-width: 96px;
    }
  }

  &__select {
    width: 256px;
    height: 32px;
    font-family: "Josefin Sans", sans-serif;
    background-color: $color-gray-2;
    color: $color-gray-5;
    border: none;
    border-radius: 4px;

    &--contries {
      min-width: 318px;
    }

    &:focus {
      outline: none;
    }
  }

  &__genres-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, auto);
    align-items: center;
  }
}

.genre-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  &__label {
    font-size: 12px;
  }
  &__checkbox {
    width: 12px;
    padding: 0;
    margin: 0 8px 0 0;
  }
}

.myCollection {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__label {
    font-size: 12px;
  }
}

.upload-error {
  text-align: center;
}

.upload-success {
  text-align: center;
  margin: 48px;
}
