.upload-header {
  margin: 0 0 1.2rem 1.6rem;
  color: $color-gray-6;
  font-size: 1.8rem;
}

.upload-container {
  width: 31.9rem;
  padding: 1.2rem 1.2rem 4.8rem 1.2rem;
  border: solid 0.1rem $color-gray-1;
  border-radius: 0.4rem;
  margin: 0 auto 4.8rem auto;
  display: block;
  &--preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.file-form {
  width: 31.9rem;
  height: 11.7rem;
  background-color: $color-white;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1.4rem;
  }

  &__input {
    border: none;
    height: 1.6rem;
    min-width: 29.4rem;
    background-color: $color-white;
    padding: 0.8rem 1.2rem 0.8rem 0;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    font-family: $font-default;
  }
  &__paragraph {
    font-size: 1.2rem;
    margin: 0.8rem 0 0 0;
  }
}

.album-form {
  display: flex;
  flex-direction: column;
  height: 86rem;
  background-color: $color-white;
  margin: auto;
  &__container {
    border: none;
    &--format,
    &--year,
    &--contries,
    &--genres,
    &--myCollection {
      min-width: 31.8rem;
    }
  }

  &__label {
    font-size: 1.4rem;
  }

  &__input {
    height: 1.6rem;
    min-width: 29.4rem;
    background-color: $color-gray-1;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    &--year {
      min-width: 9.6rem;
    }
  }

  &__select {
    width: 25.6rem;
    height: 3.2rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: $color-gray-2;
    color: $color-gray-5;
    border: none;
    border-radius: 0.4rem;

    &--contries {
      min-width: 31.8rem;
    }

    &:focus {
      outline: none;
    }
  }

  &__genres-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, auto);
    align-items: center;
  }
}

.genre-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.8rem;
  &__label {
    font-size: 1.2rem;
  }
  &__checkbox {
    width: 1.2rem;
    padding: 0;
    margin: 0 0.8rem 0 0;

    &:invalid {
      box-shadow: none;
    }
  }
}

.myCollection {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__label {
    font-size: 1.2rem;
  }
}

.upload-error {
  text-align: center;
  font-size: 1.4rem;
}

.upload-success {
  text-align: center;
  margin: 4.8rem;
  font-size: 1.4rem;
}
