.serachResults.container {
  margin-top: 96px;
}

.search.header {
  margin-top: 96px;
  margin: 0;
  padding: 0px 16px 32px 16px;
  font-size: 18px;
}
.search.header span {
  font-style: italic;
}

.nothingFound {
  text-align: center;
  margin-top: 64px;
}

.nothingFound.please {
  margin-top: 14px;
}

.nothingFound.form {
  margin-top: 24px;
  margin-bottom: 48px;
  background-color: white;
}

.nothingFound.input.search {
  background-color: rgba(229, 229, 229, 1);
  width: 239px;
  height: 32px;
  text-align: left;
  margin-right: 8px;
  margin-top: 0px;
  padding: 0 0 0 8px;
}

.nothingFound.button.search {
  background-color: rgba(31, 31, 31, 1);
  color: white;
  height: 32px;
  border-radius: 15px;
  width: 75px;
  margin-top: 0px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.nothingFound.button.search:focus {
  outline: none;
}

.nothingFound.button.search:hover {
  background-color: rgba(68, 68, 68, 1);
}

.nothingFound.link {
  margin-bottom: 96px;
  color: rgba(146, 146, 146, 1);
}

.nothingFound.link a {
  color: rgba(31, 31, 31, 1);
  text-decoration: none;
}
