body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
.navbar {
  height: 48px;
  background-color: rgba(31, 31, 31, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
}

.navbar .logo {
  height: 32px;
  margin: 8px 16px 8px 16px;
}

form {
  width: 252px;
  height: 24px;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px;
}

input {
  width: 204px;
  height: 24px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(68, 68, 68, 1);
}

input:focus {
  outline: none;
}

.button .search {
  width: 24px;
  height: 16px;
  background-color: rgba(31, 31, 31, 1);
  border-radius: 15px;
  margin: 4px;
  margin-top: 6px;
}

.img .search {
  width: 12px;
  height: 12px;
  margin: 0;
}

.hamburger {
  cursor: pointer;
}

div.hamburger.links {
  position: absolute;
  top: 48px;
  right: 0px;
  width: 100%;
  background-color: rgba(229, 229, 229, 1);
  padding: 0px;
}

div.hamburger.links a {
  color: rgba(31, 31, 31, 1);
  font-size: 18px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
div.hamburger.links a:hover {
  background-color: rgba(196, 196, 196, 1);
}
.hero.container {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.hero h1,
h5 {
  margin: 0;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

.hero h5 {
  font-size: 12px;
  margin-bottom: 48px;
}

.slideshow.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 48px;
}

.slideshow.box :nth-child(2) {
  display: none;
}
.slideshow.box :nth-child(4) {
  display: none;
}

.slideshow .hero {
  width: 256px;
  margin-left: 16px;
  margin-right: 16px;
}

.slideshow .navigation {
  height: 64px;
  align-self: center;
}

.slideshow.img.container {
  position: relative;
  text-align: right;
  color: rgba(31, 31, 31, 1);
}

.img.text {
  position: absolute;
  bottom: 8px;
  right: 24px;
  display: block;
  font-size: 10px;
}

.subscribe.container {
  background-color: rgba(31, 31, 31, 1);
  color: white;
  padding-top: 24px;
  padding-bottom: 48px;
  text-align: center;
}

.subscribe.container h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 16px;
}

.subscribe.container h2 span {
  font-size: 12px;
}

.subscribe.form {
  height: 32px;
  width: 343px;
  display: flex;
  flex-direction: row;
  background-color: rgba(31, 31, 31, 1);
  margin: auto;
}

.subscribe.input {
  height: 12px;
  padding: 10px 12px 10px 12px;
  width: 224px;
  background-color: rgba(229, 229, 229, 1);
  margin-right: 8px;
  font-size: 12px;
}

.subscribe.input:focus {
  outline: none;
}

.subscribe.button {
  height: 32px;
  width: 96px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgba(31, 31, 31, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.recentlyAdded.container {
  background-color: rgba(31, 31, 31, 1);
  color: white;
  padding: 0px 16px 64px 16px;
}

.footer.container {
  background-color: rgba(146, 146, 146, 1);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 16px 0px 16px;
  font-size: 12px;
  color: rgba(196, 196, 196, 1);
}

.icons.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer.logo {
  height: 32px;
  margin-right: 16px;
}

.footer p a {
  text-decoration: none;
  color: white;
}

.footer .hamburger.links {
  top: -196px;
  padding: 0px;
  padding-top: 16px;
  color: rgb(252, 232, 230);
}

.auth.container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 343px;
  height: 342px;
  background-color: white;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 15px;
  color: rgba(31, 31, 31, 1);
  padding: 24px 24px 48px 24px;
}

.auth.form h3 {
  font-size: 18px;
  margin-bottom: 24px;
}

.auth.input {
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 15px;
  height: 16px;
  font-size: 14px;
  margin-bottom: 16px;
}

.auth.input:last-of-type {
  margin-bottom: 24px;
}

.auth.submit {
  height: 32px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 15px;
  background-color: rgba(31, 31, 31, 1);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.auth.form p {
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.auth.form a {
  font-size: 12px;
  text-decoration: none;
  color: rgba(146, 146, 146, 1);
}

.auth.submit.facebook,
.auth.submit.google {
  height: 24px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;
  font-weight: 500;
}
.auth.submit.facebook {
  margin-top: 24px;

  background-color: rgba(66, 103, 178, 1);
}

.auth.submit.google {
  margin-top: 12px;
  background-color: rgba(206, 62, 62, 1);
}

.auth.form.signup {
  height: 442px;
}
