.marg-t-xxl {
  margin-top: 96px; }

.marg-t-xl {
  margin-top: 64px; }

.marg-t-l {
  margin-top: 48px; }

.marg-t-m {
  margin-top: 32px; }

.marg-t-s {
  margin-top: 24px; }

.marg-t-xs {
  margin-top: 16px; }

.marg-t-xxs {
  margin-top: 12px; }

.marg-t-zero {
  margin-top: 0px; }

.marg-b-xxl {
  margin-bottom: 96px; }

.marg-b-xl {
  margin-bottom: 64px; }

.marg-b-l {
  margin-bottom: 48px; }

.marg-b-m {
  margin-bottom: 32px; }

.marg-b-s {
  margin-bottom: 24px; }

.marg-b-xs {
  margin-bottom: 16px; }

.marg-b-xxs {
  margin-bottom: 12px; }

.marg-b-zero {
  margin-bottom: 0px; }

.marg-zero {
  margin: 0px; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif; }

.content {
  min-height: calc(100vh - 96px - 48px); }

.mobile {
  display: block; }

.desktop {
  display: none; }

.not-logged {
  margin-top: 96px; }
  .not-logged a {
    text-decoration: none;
    color: #787878; }

@media (min-width: 1024px) {
  .mobile {
    display: none; }
  .desktop {
    display: block; } }

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 48px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .navbar__logo {
    height: 32px;
    margin: 8px 16px 8px 16px; }

.logo-form {
  display: flex;
  flex-direction: row;
  align-items: center; }

form {
  width: 252px;
  height: 24px;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px; }

input {
  width: 204px;
  height: 24px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: #444444; }
  input:focus {
    outline: none; }

.navbar__form {
  width: 252px;
  height: 24px;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px; }

.navbar__input {
  width: 204px;
  height: 24px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: #444444; }
  .navbar__input:focus {
    outline: none; }

.navbar__button {
  width: 24px;
  height: 16px;
  background-color: #1f1f1f;
  border-radius: 15px;
  margin: 4px;
  margin-top: 6px;
  cursor: pointer; }

.navbar__button-img {
  width: 16px;
  height: 16px;
  margin-left: 4px; }

@media (min-width: 1024px) {
  .navbar {
    height: 52px;
    justify-content: space-around; }
  .navbar__form {
    height: 32px;
    width: 345px; }
  .navbar__input {
    height: 32px;
    width: 306px; }
  .navbar__button {
    width: 32px;
    height: 24px; }
  .navbar__button-img {
    width: 20px;
    height: 20px;
    margin-left: 4px; }
  .auth-links {
    position: static;
    padding-right: 64px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .auth-links__link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-size: 16px; }
      .auth-links__link:first-child {
        margin-right: 48px; }
  .navbar-account {
    color: white; }
  .dropdown-links__link {
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px; }
    .dropdown-links__link span {
      color: white;
      font-size: 12px; }
    .dropdown-links__link:hover {
      background-color: #787878; } }

.hamburger {
  cursor: pointer; }

.hamburger-menu {
  top: -1px;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 48px);
  z-index: 1; }

.hamburger-links {
  position: fixed;
  z-index: 2;
  top: 48px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  padding: 0px; }
  .hamburger-links__link {
    color: #1f1f1f;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block; }
    .hamburger-links__link:hover {
      background-color: #c4c4c4; }

@media (min-width: 1024px) {
  .hamburger-container {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .hamburger-container__img {
      margin-left: 4px; }
  .hamburger-links {
    top: 46px;
    right: 30px;
    width: 192px;
    height: 168px;
    background-color: #444444;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px; }
    .hamburger-links__link {
      padding: 12px 12px; }
      .hamburger-links__link:hover {
        background-color: #787878; } }

.footer-container {
  background-color: #929292;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 16px 0px 16px;
  font-size: 12px;
  color: #c4c4c4; }

.footer__hamburger-links {
  top: calc(100vh - 200px - 64px);
  height: 200px;
  padding: 0px;
  padding-top: 16px;
  color: white; }

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer-logo {
  height: 32px;
  margin-right: 16px; }

.footer-createdby {
  text-decoration: none;
  color: white; }

@media (min-width: 1024px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .footer-links-desktop {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .footer-links-desktop__link {
      text-decoration: none;
      color: white;
      margin-right: 16px; }
      .footer-links-desktop__link:last-child {
        margin-right: 48px; } }

.auth-container {
  padding-bottom: 32px; }

.auth-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 343px;
  height: 370px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  color: #1f1f1f;
  padding: 24px 24px 48px 24px; }
  .auth-form__header {
    font-size: 18px; }
  .auth-form__input {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    height: 16px;
    font-size: 14px; }
    .auth-form__input:focus:valid {
      border-color: #929292; }
    .auth-form__input:focus:invalid {
      border-color: tomato; }
  .auth-form__paragraph {
    font-size: 12px; }
  .auth-form__link {
    font-size: 12px;
    text-decoration: none;
    color: #929292; }
  .auth-form--signup {
    height: 442px; }
  .auth-form__forgot {
    font-size: 12px;
    text-align: center;
    color: #444444;
    line-height: 1.5; }

.auth-error {
  color: tomato;
  font-size: 12px;
  text-align: center; }

.btn {
  height: 32px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.btn-black {
  background-color: #1f1f1f;
  color: white; }
  .btn-black:hover {
    background-color: #444444; }
  .btn-black--reset {
    margin-bottom: 24px; }
  .btn-black--remove {
    margin-top: 32px;
    margin-bottom: 32px; }
  .btn-black--upload {
    height: 32px;
    padding: 8px 16px 8px 16px; }
  .btn-black--preview {
    margin-top: 24px; }
  .btn-black--modal {
    margin: 0px 4px 1em 4px; }
  .btn-black--search {
    width: 75px; }

.btn-white {
  background-color: white;
  color: #1f1f1f; }
  .btn-white:hover {
    background-color: #e5e5e5; }

.btn-social {
  height: 24px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;
  color: white;
  font-weight: 400; }
  .btn-social--facebook {
    margin-top: 24px;
    background-color: #4268b3; }
    .btn-social--facebook:hover {
      background-color: #6383c5; }
  .btn-social--google {
    margin-top: 12px;
    background-color: #cf3f3f; }
    .btn-social--google:hover {
      background-color: #d96868; }

.btn-border {
  width: 96px;
  padding: 8px;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  color: #444444;
  margin: 12px 0px 0px 8px; }
  .btn-border:hover {
    background-color: #e5e5e5; }
  .btn-border:focus {
    outline: none; }
  .btn-border--album {
    margin: 0;
    width: 210px; }
    .btn-border--album:first-of-type {
      margin-top: 32px;
      width: 240px; }
    .btn-border--album:last-of-type {
      margin-top: 12px; }

.btn-submit-file {
  background-color: #e5e5e5;
  border-radius: 4px;
  color: #1f1f1f;
  min-width: 319px;
  margin-top: 8px;
  font-size: 12px; }
  .btn-submit-file:hover {
    background-color: #c4c4c4; }

.navbar-profile {
  margin: 96px 16px 24px 16px;
  color: #1f1f1f; }
  .navbar-profile:link {
    text-decoration: none;
    margin: 0px; }
  .navbar-profile__link {
    margin-right: 32px;
    position: relative;
    line-height: 1;
    text-decoration: none; }
    .navbar-profile__link:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #1f1f1f;
      content: "";
      transition: width 0.3s ease-out; }
    .navbar-profile__link:hover:after, .navbar-profile__link:focus:after {
      width: 100%; }

@media (min-width: 1024px) {
  .navbar-profile-desktop {
    margin: 0;
    padding-left: 64px;
    padding-top: 16px;
    height: 32px;
    background-color: #1f1f1f;
    margin-bottom: 32px; }
  .navbar-profile__link {
    text-decoration: none; }
    .navbar-profile__link:after {
      background-color: white; } }

.navbar-albums {
  margin: 0px 16px 24px 16px;
  color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.view {
  display: flex;
  flex-direction: row; }
  .view__square {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: #929292;
    margin-right: 8px;
    cursor: pointer; }
  .view__img {
    margin: 4px; }

.rows-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.rows-container {
  padding-left: 12px;
  border-bottom: 1px solid #c4c4c4; }

.rows-album {
  display: flex;
  width: 100vw;
  flex-direction: row;
  padding: 12px 0px 12px 0px;
  border-top: 1px solid #c4c4c4; }
  .rows-album__input {
    min-width: 12px;
    width: 12px;
    height: 12px;
    margin: 0px 12px 0px 12px; }
  .rows-album__img {
    width: 64px;
    height: 64px;
    object-fit: cover; }

.info {
  margin-left: 12px;
  max-width: 228px; }
  .info__link {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px; }
  .info__paragraph {
    color: #1f1f1f;
    font-size: 12px;
    line-height: 16px;
    color: #929292; }

@media (min-width: 1024px) {
  .info {
    max-width: 600px; } }

.sort__label {
  margin-right: 24px; }

.sort__select {
  width: 96px;
  height: 24px;
  background-color: #444444;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
  padding-right: 4px;
  padding-left: 8px; }
  .sort__select:focus {
    outline: none; }
  .sort__select__option {
    background-color: white;
    color: #1f1f1f;
    height: 24px;
    border: none; }

.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 132px);
  grid-column-gap: 50px; }

.grid-album__img {
  width: 132px;
  height: 132px;
  object-fit: cover; }

.grid-album__link {
  text-decoration: none;
  color: #1f1f1f; }

.grid-album__paragraph {
  margin: 8px 0 0 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px; }

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 132px); } }

.pagination-navigation {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pagination-navigation__buttons {
    display: flex;
    flex-direction: row; }
  .pagination-navigation__paragraph {
    font-size: 14px;
    color: #929292; }

.upload-header {
  margin: 0px 0px 12px 16px;
  color: #1f1f1f;
  font-size: 18px; }

.upload-container {
  width: 319px;
  padding: 12px 12px 48px 12px;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
  margin: 0 auto 48px auto;
  display: block; }
  .upload-container--preview {
    display: flex;
    flex-direction: column;
    align-items: center; }

.file-form {
  width: 319px;
  height: 117px;
  background-color: white; }
  .file-form__container {
    display: flex;
    flex-direction: column; }
  .file-form__label {
    font-size: 14px; }
  .file-form__input {
    border: none;
    height: 16px;
    min-width: 294px;
    background-color: white;
    padding: 8px 12px 8px 0px;
    font-size: 12px;
    border-radius: 4px;
    font-family: "Josefin Sans", sans-serif; }
  .file-form__paragraph {
    font-size: 12px;
    margin: 8px 0 0 0; }

.album-form {
  display: flex;
  flex-direction: column;
  height: 860px;
  background-color: white;
  margin: auto; }
  .album-form__container {
    border: none; }
    .album-form__container--format, .album-form__container--year, .album-form__container--contries, .album-form__container--genres, .album-form__container--myCollection {
      min-width: 318px; }
  .album-form__label {
    font-size: 14px; }
  .album-form__input {
    height: 16px;
    min-width: 294px;
    background-color: #e5e5e5;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    border-radius: 4px; }
    .album-form__input--year {
      min-width: 96px; }
  .album-form__select {
    width: 256px;
    height: 32px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #c4c4c4;
    color: #444444;
    border: none;
    border-radius: 4px; }
    .album-form__select--contries {
      min-width: 318px; }
    .album-form__select:focus {
      outline: none; }
  .album-form__genres-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, auto);
    align-items: center; }

.genre-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px; }
  .genre-div__label {
    font-size: 12px; }
  .genre-div__checkbox {
    width: 12px;
    padding: 0;
    margin: 0 8px 0 0; }

.myCollection {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .myCollection__label {
    font-size: 12px; }

.upload-error {
  text-align: center; }

.upload-success {
  text-align: center;
  margin: 48px; }

.album-card {
  display: flex;
  flex-direction: row; }
  .album-card__img {
    height: 145px;
    width: 145px;
    object-fit: cover; }
  .album-card__info {
    margin-left: 24px;
    max-width: 150px; }
    .album-card__info__header {
      font-size: 14px; }
      .album-card__info__header a {
        text-decoration: none;
        color: #1f1f1f; }
    .album-card__info__paragraph {
      font-size: 12px; }
      .album-card__info__paragraph a {
        text-decoration: none;
        color: #1f1f1f; }
    .album-card__info__span {
      color: #c4c4c4; }

.modal {
  background-color: rgba(31, 31, 31, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal:empty {
    display: none; }
  .modal__div {
    background-color: white;
    width: 80%;
    max-width: 375px;
    padding: 16px;
    border-radius: 5px;
    text-align: center; }

.hero-container {
  text-align: center; }
  .hero-container__header {
    margin: 0 0 12px 0;
    font-size: 24px; }
    .hero-container__header--h5 {
      font-size: 12px; }

.slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .slideshow__hero {
    width: 256px;
    margin-left: 16px;
    margin-right: 16px; }
  .slideshow__navigation {
    height: 64px;
    align-self: center; }
  .slideshow__img-container {
    position: relative;
    text-align: right;
    color: #1f1f1f; }
    .slideshow__img-container--side {
      display: none; }
  .slideshow__img-text {
    position: absolute;
    bottom: 8px;
    right: 24px;
    display: block;
    font-size: 10px; }

@media (min-width: 1024px) {
  .slideshow {
    margin-bottom: 32px; }
    .slideshow__hero {
      width: 192px; }
    .slideshow__img-container {
      align-self: center; }
      .slideshow__img-container--center img {
        width: 364px;
        height: 364px; }
      .slideshow__img-container--side {
        display: flex; } }

.subscribe {
  background-color: #1f1f1f;
  color: white;
  padding-top: 24px;
  padding-bottom: 48px;
  text-align: center; }
  .subscribe__header {
    margin: 16px 0 32px 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px; }
    .subscribe__header--span {
      font-size: 12px; }
  .subscribe__form {
    height: 32px;
    width: 343px;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    margin: auto; }
  .subscribe__input {
    height: 12px;
    padding: 10px 12px 10px 12px;
    width: 224px;
    background-color: #e5e5e5;
    margin-right: 8px;
    font-size: 12px; }
    .subscribe__input:focus {
      outline: none; }

@media (min-width: 1024px) {
  .subscribe__header {
    font-size: 24px; }
    .subscribe__header--span {
      font-size: 14px; } }

.recentlyAdded {
  background-color: #1f1f1f;
  color: white;
  padding: 0px 16px 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .recentlyAdded__header {
    margin: 0px 0px 12px 12px;
    font-size: 18px;
    align-self: start; }

.grid-album__link--recentlyAdded {
  color: #e5e5e5; }

.showmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; }
  .showmore__paragraph {
    margin: 24px 0px 8px 0px;
    color: #e5e5e5;
    font-size: 16px; }
  .showmore__img {
    margin: auto; }

.album-page {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #e5e5e5;
  border-radius: 15px;
  width: 319px;
  padding: 12px 12px 48px 12px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .album-page a {
    text-decoration: none;
    color: #1f1f1f; }

@media (min-width: 1024px) {
  .album-page {
    width: 384px; } }

.profile-container {
  color: #1f1f1f; }

.user-info {
  margin-left: 12px;
  display: flex;
  flex-direction: row; }
  .user-info__img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-right: 12px; }
  .user-info__name {
    font-size: 16px; }
  .user-info__date {
    margin: 12px 0 0 0;
    font-size: 12px;
    color: #787878; }

.user-releases {
  margin: 32px 0 0 12px; }
  .user-releases__header {
    font-size: 16px;
    margin: 0 0 24px 0; }

.statistics {
  display: grid;
  grid-template-columns: 128px 24px; }
  .statistics__link {
    text-decoration: none;
    font-size: 14px;
    color: #1f1f1f; }
    .statistics__link:hover {
      color: #787878; }
    .statistics__link--number {
      text-align: end; }

.addedBy {
  font-size: 16px;
  margin-left: 12px; }

.activity {
  margin: 32px 12px 48px 12px; }
  .activity__header {
    font-size: 16px;
    margin: 0 0 24px 0; }

.activity-item {
  display: flex;
  flex-direction: row; }
  .activity-item__img {
    width: 64px;
    height: 64px; }
  .activity-item__info {
    font-size: 14px;
    margin: 0 0 8px 8px; }
  .activity-item__date {
    font-size: 12px;
    margin: 0 0 0 8px;
    color: #787878; }

@media (min-width: 1024px) {
  .profile-container {
    margin-top: 52px; }
  .profile-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 52px; }
  .activity {
    margin: 0px 12px 48px 64px; }
  .profile-cover {
    background-image: url("./img/cover.png");
    height: 256px;
    background-repeat: no-repeat;
    background-size: cover; }
  .user-photo {
    position: absolute;
    top: 158px;
    left: 64px;
    width: 150px;
    height: 150px;
    object-fit: cover; } }

.search__header {
  margin: 96px 0 0 0;
  padding: 0px 16px 32px 16px;
  font-size: 18px; }
  .search__header--span {
    color: #929292; }

.nothingFound {
  text-align: center; }
  .nothingFound__paragraph--link {
    color: #787878;
    text-decoration: none; }
  .nothingFound__form {
    height: 32px;
    width: 343px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: white; }
  .nothingFound__input {
    background-color: #e5e5e5;
    width: 239px;
    height: 32px;
    text-align: left;
    margin-right: 8px;
    padding: 0 0 0 8px; }
