html,
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.content {
  min-height: calc(100vh - 96px - 48px);
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 48px;
  background-color: rgba(31, 31, 31, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .logo {
  height: 32px;
  margin: 8px 16px 8px 16px;
}

form {
  width: 252px;
  height: 24px;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px;
}

input {
  width: 204px;
  height: 24px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(68, 68, 68, 1);
}

input:focus {
  outline: none;
}

.button .search {
  width: 24px;
  height: 16px;
  background-color: rgba(31, 31, 31, 1);
  border-radius: 15px;
  margin: 4px;
  margin-top: 6px;
  cursor: pointer;
}

.img .search {
  width: 12px;
  height: 12px;
  margin: 0;
}

.hamburger {
  cursor: pointer;
}

.hamburger.container {
  position: relative;
}

div.hamburger.links {
  position: fixed;
  z-index: 2;
  top: 48px;
  right: 0px;
  width: 100%;
  background-color: rgba(229, 229, 229, 1);
  padding: 0px;
}

div.hamburger.links a {
  color: rgba(31, 31, 31, 1);
  font-size: 18px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

div.hamburger.links .logout {
  margin-top: 16px;
}
div.hamburger.links a:hover {
  background-color: rgba(196, 196, 196, 1);
}

.footer.container {
  background-color: rgba(146, 146, 146, 1);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 16px 0px 16px;
  font-size: 12px;
  color: rgba(196, 196, 196, 1);
}

.icons.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer.logo {
  height: 32px;
  margin-right: 16px;
}

.footer p a {
  text-decoration: none;
  color: white;
}

.footer .hamburger.links {
  top: calc(100vh - 200px - 64px);
  height: 200px;
  padding: 0px;
  padding-top: 16px;
  color: rgb(252, 232, 230);
}

.auth.container {
  margin-top: 96px;
  padding-bottom: 32px;
}

.auth.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 343px;
  height: 342px;
  background-color: white;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 15px;
  color: rgba(31, 31, 31, 1);
  padding: 24px 24px 48px 24px;
}

.auth.form h3 {
  font-size: 18px;
  margin-bottom: 24px;
}

.auth.input {
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 15px;
  height: 16px;
  font-size: 14px;
  margin-bottom: 16px;
}

.auth.input:last-of-type {
  margin-bottom: 24px;
}

.auth.input:focus:valid {
  border-color: rgba(146, 146, 146, 1);
}

.auth.input:focus:invalid {
  border-color: tomato;
}

.auth span {
  color: tomato;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 16px;
  text-align: center;
}

.auth.submit {
  height: 32px;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 15px;
  background-color: rgba(31, 31, 31, 1);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.auth.form p {
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.auth.form .forgot {
  margin-bottom: 24px;
  text-align: center;
  color: rgba(146, 146, 146, 1);
  line-height: 1.5;
}

.auth.form a {
  font-size: 12px;
  text-decoration: none;
  color: rgba(146, 146, 146, 1);
}

.auth.submit.facebook,
.auth.submit.google {
  height: 24px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;
  /* font-weight: 500; */
}
.auth.submit.facebook {
  margin-top: 24px;

  background-color: rgba(66, 103, 178, 1);
}

.auth.submit.google {
  margin-top: 12px;
  background-color: rgba(206, 62, 62, 1);
}

.auth.form.signup {
  height: 442px;
}

.auth.submit.reset {
  margin-bottom: 24px;
}

.collection.container {
  margin-top: 96px;
}

.profile.nav {
  margin: 96px 16px 24px 16px;
  color: rgba(31, 31, 31, 1);
}

.profile.nav a {
  text-decoration: none;
  margin: 0px;
}

.profile.nav.link {
  margin-right: 32px;
  position: relative;
  line-height: 1;
}

.profile.nav.link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(31, 31, 31, 1);
  content: "";
  transition: width 0.3s ease-out;
}

.profile.nav.link:hover:after,
.profile.nav.link:focus:after {
  width: 100%;
}

.collection.nav {
  margin: 0px 16px 24px 16px;
  color: rgba(31, 31, 31, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collection.nav label {
  margin-right: 24px;
}

.collection.select {
  width: 96px;
  height: 24px;
  background-color: rgba(68, 68, 68, 1);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
  padding-right: 4px;
  padding-left: 8px;
}

.collection.nav.select:focus {
  outline: none;
}

.collection.nav.option {
  background-color: white;
  color: rgba(31, 31, 31, 1);
  height: 24px;
  border: none;
  margin-bottom: 12px;
}

.view.container {
  display: flex;
  flex-direction: row;
}

.view.square {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: rgba(146, 146, 146, 1);
  margin-right: 8px;
  cursor: pointer;
}

.view.square img {
  margin: 4px;
}

.upload.header {
  margin: 0px 0px 12px 16px;
  color: rgba(31, 31, 31, 1);
  font-size: 18px;
}

.upload.container {
  width: 319px;
  padding: 12px 12px 48px 12px;
  border: solid 1px rgba(229, 229, 229, 1);
  border-radius: 4px;
  margin: auto;
  margin-bottom: 48px;
}

.upload.form.file {
  width: 319px;
  height: 142px;

  background-color: white;
}

.album.container.file {
  display: flex;
  flex-direction: column;
}

.album.container.file.input {
  border: none;
  height: 16px;
  min-width: 294px;
  background-color: white;
  padding: 8px 12px 8px 0px;
  margin-top: 12px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.auth.submit.file {
  background-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
  color: rgba(31, 31, 31, 1);
  min-width: 319px;
  margin-top: 8px;
  font-size: 12px;
}

.auth.submit.file:hover {
  background-color: rgba(196, 196, 196, 1);
}

.file.input.p {
  font-size: 12px;

  margin: 8px 0 0 0;
}

.upload.form.album {
  display: flex;
  flex-direction: column;
  height: 836px;
  background-color: white;
  margin: auto;
}

.album.container {
  margin-bottom: 24px;
  border: none;
}

.album.container label {
  font-size: 14px;
  margin-bottom: 12px;
}

.album.input {
  height: 16px;
  min-width: 294px;
  background-color: rgba(229, 229, 229, 1);
  padding: 8px 12px 8px 12px;
  margin-top: 12px;
  font-size: 12px;
  border-radius: 4px;
}

.album.container.format {
  min-width: 318px;
}
.album.container select {
  margin-top: 16px;
  width: 256px;
  height: 32px;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(196, 196, 196, 1);
  color: rgba(68, 68, 68, 1);
  border: none;
  border-radius: 4px;
}
.album.container select:focus {
  outline: none;
}
.album.container.year {
  min-width: 318px;
}
.album.input.year {
  min-width: 96px;
}
.album.container.contries select {
  min-width: 318px;
}
.album.container.genres {
  min-width: 318px;
}
.album.container.genres.grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  margin-top: 16px;
  margin-bottom: 0;
}
.album.container.genres.grid div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.album.container.genres.grid label {
  font-size: 12px;
  margin: 0;
}

.input.genres.checkbox {
  width: 12px;
  padding: 0;
  margin: 0;
  margin-right: 8px;
}

.album.container.myCollection {
  min-width: 318px;
}
.album.container.myCollection div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album.container.myCollection div label {
  margin-top: 16px;
  font-size: 12px;
}

.auth.submit.upload {
  margin-top: 24px;
  margin-bottom: 48px;
}

.upload.container.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview.box {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.preview.img {
  height: 145px;
  width: 145px;
  object-fit: cover;
}

.preview.info {
  margin-left: 24px;
  max-width: 150px;
}

.preview.info h5 {
  font-size: 14px;
  margin-bottom: 12px;
}

.preview.info p {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 12px;
}

.preview.info p span {
  color: rgba(196, 196, 196, 1);
}

.auth.submit.preview {
  margin-top: 24px;
}

.upload.success {
  text-align: center;
  margin: 48px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  width: 80%;
  max-width: 375px;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
}

.auth.submit.remove.modal {
  margin: 0px 4px 1em 4px;
}

.auth.submit.remove.modal:hover {
  background-color: rgba(146, 146, 146, 1);
}
