.collection.grid.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection.grid.container {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 132px);
  grid-column-gap: 50px;
}
.collection.grid.album {
  margin-bottom: 24px;
}
.collection.grid.album img {
  width: 132px;
  height: 132px;
  object-fit: cover;
}

.collection.grid.album a {
  text-decoration: none;
  color: rgba(31, 31, 31, 1);
}

.collection.grid.album p {
  margin: 8px 0 0 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.collection.rows.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection.rows.container {
  margin: 0;
}

.collection.rows.container {
  padding-left: 12px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.collection.rows.album {
  display: flex;
  width: 100vw;
  flex-direction: row;
  padding: 12px 0px 12px 0px;
  border-top: 1px solid rgba(196, 196, 196, 1);
}

.rows.album.input {
  min-width: 12px;
  width: 12px;
  height: 12px;
  margin: 0px 12px 0px 12px;
}

.collection.rows.album img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.rows.album.info {
  margin-left: 12px;
  max-width: 228px;
}

.rows.album.info p {
  margin: 0;
  color: rgba(31, 31, 31, 1);
  font-size: 12px;
  line-height: 16px;
}

.rows.album.name.link {
  text-decoration: none;
  color: rgba(31, 31, 31, 1);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

p.rows.album.format,
p.rows.album.year {
  color: rgba(146, 146, 146, 1);
}

.auth.submit.remove {
  margin-top: 32px;
  margin-bottom: 32px;
}
.pagination.container {
  margin-top: 24px;
}
.collection.navigation {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection.navigation.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.collection.navigation p {
  margin: 0px;
  font-size: 14px;
  color: rgba(146, 146, 146, 1);
}

.auth.submit.navigation {
  width: 96px;
  padding: 8px;
  background-color: white;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 15px;
  color: rgba(68, 68, 68, 1);
  margin: 12px 0px 0px 8px;
}

@media (min-width: 1024px) {
  .collection.grid.container {
    grid-template-columns: repeat(5, 132px);
  }
  .rows.album.info {
    max-width: 600px;
  }
}
